- @fields_data[:agency_withholdings_fields][:agency_withholdings].each do |field_name, header, is_internal|
  = render partial: 'fields_compliance', locals: {data: data, header: header, field_name: field_name, is_internal: is_internal}
%internal
  %dl
    %dt
      %h5 History of Withholding Details
    %dd
      .section.expandable
        %h5.section-title view
        .section-content
          - data[:wh_effective_date_audit].each do |history_data|
            %dl
              %dt Effective Date :
              %dd
                .section.expandable
                  %h5.section-title= history_data['DataChangeAudit']['DataEffectiveDate']
                  .section-content
                    - @fields_data[:agency_withholdings_fields][:history_agency_withholdings].each do |field_name, header| 
                      = render partial: 'history_fields_compliance', locals: { header: header, field_name: field_name, history_data: history_data}   
%h4 W4 Requirements
- @fields_data[:agency_withholdings_fields][:w4_requirement].each do |field_name, header, is_internal|
  = render partial: 'fields_compliance', locals: {data: data, header: header, field_name: field_name, is_internal: is_internal}
%internal
  %dl
    %dt
      %h5 History of W4 Requirements
    %dd
      .section.expandable
        %h5.section-title view
        .section-content
          - data[:w4_effective_date_audit].each do |history_data|
            %dl
              %dt Effective Date :
              %dd
                .section.expandable
                  %h5.section-title= history_data['DataChangeAudit']['DataEffectiveDate']
                  .section-content   
                    - @fields_data[:agency_withholdings_fields][:history_w4_requirement].each do |field_name, header| 
                      = render partial: 'history_fields_compliance', locals: { header: header, field_name: field_name, history_data: history_data}
- if data[:qb_diy_requirements_note].present?
  %internal
    %h4 Service Requirements
    - @fields_data[:agency_withholdings_fields][:service_req].each do |field_name, header, is_internal|
      = render partial: 'fields_compliance', locals: {data: data, header: header, field_name: field_name, is_internal: is_internal}
%internal
  %h4 Verification Tracking
  - @fields_data[:verification_fields][:verification_tracking].each do |field_name, header, is_internal|
    = render partial: 'fields_compliance', locals: {data: data, header: header, field_name: field_name, is_internal: is_internal}